html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
}

.pointer {
    cursor: pointer;
}

input:focus {
    outline: none;
}

#nowPlayingBarContainer {
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    min-width: 620px;
}

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
    justify-content: space-between;
}

#nowPlayingLeft, 
#nowPlayingRight {
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;
}

/***************************** PLAYING BAR CENTER START *****************************/

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
    height: 100%;
    width: 100%;
}

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.controlButton {
    background-color: transparent;
    border: none;
    /* Vertically centers with display:table */
    vertical-align: middle;
}

.controlButton:hover {
    cursor: pointer;
}

.controlButton:focus {
    outline: none;
}

.controlButton img {
    width: 20px;
    height: 20px;
}

.controlButton img:hover {
    color: #fff;
}

.controlButton.play img,
.controlButton.pause img {
    width: 32px;
    height: 32px;
}

.pause {
    display: none;
}

.playbackBar {
    display: flex;
}

.progressTime {
    color: #a0a0a0;
    font-size: 12px;
    min-width: 40px;
    text-align: center;
    font-weight: bold;
}

.progressBar {
    display: inline-flex;
    width: 100%;
    height: 12px;
    cursor: pointer;
    margin-top: 3px;
}

.progressBarBG {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0; /* DYNAMIC */
    border-radius: 2px;
}

/* .playbackBar .progressBar {

} */

/***************************** PLAYING BAR CENTER END *****************************/

/***************************** PLAYING BAR LEFT START *****************************/
#nowPlayingLeft .albumArtwork {
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

#nowPlayingLeft .trackInfo {
    display: table;
}

#nowPlayingLeft .trackInfo .trackName {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
    font-size: 12px;
    color: #a0a0a0;
}
/***************************** PLAYING BAR LEFT END *****************************/

/***************************** PLAYING BAR RIGHT START *****************************/
.volumeBar {
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar {
    width: 125px;
}
/***************************** PLAYING BAR RIGHT END *****************************/

/***************************** TOP CONTAINER START *****************************/
#topContainer {
    min-height: 100%;
    width: 100%;
}

#navBarContainer {
    background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.navBar span {
    cursor: pointer;
}

.logo {
    margin-bottom: 15px;
}

.logo img {
    width: 32px;
}

.navBar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.navItem {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

#navItemSearch {
    cursor: pointer;
}

#navItemSearch:hover .navItemLink {
    color: #fff;
}

.navItemLink {
    color: #a0a0a0;
    text-decoration: none;
    transition: all .2s;
}

.navItemLink:hover {
    color: #fff;
}

.navItemLink .icon {
    position: absolute;
    right: 0;
    top: 7px;
    width: 25px;
}

/***************************** MAIN CONTAINER START *****************************/
#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}

#mainContent {
    padding: 0 20px;
}

.pageHeadingBig {
    padding: 20px;
    margin-top: 0;
    text-align: center;
}

.gridViewItem {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
}

.gridViewItem img {
    width: 100%;
}

.gridViewItem a {
    text-decoration: none;
}

.gridViewInfo {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.entityInfo {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .leftSection img {
    width: 100%;
}

.entityInfo .rightSection {
    box-sizing: border-box;
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
}

.entityInfo .rightSection h2 {
    margin-top: 0;
}

.entityInfo .rightSection p {
    color: #939393;
    font-weight: 200;
}

.entityInfo h2 {
    text-align: center;
    margin-top: 50px;
}

.tracklist {
    padding: 0;
}

.tracklistRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.tracklistRow:hover {
    background-color: #282828;
}

.tracklistRow span {
    color: #939393;
    font-weight: 200;
}

.tracklistRow .trackCount {
    width: 8%;
    float: left;
    align-self: flex-start;
}

.tracklistRow .trackCount img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.tracklistRow:hover .trackCount img {
    visibility: visible;
}

.tracklistRow .trackCount span {
    visibility: visible;
}

.tracklistRow:hover .trackCount span {
    visibility: hidden;
}

.tracklistRow .trackInfo {
    width: 75%;
    float: left;
}

.tracklistRow .trackInfo span {
    display: block;
}

.tracklistRow .trackInfo .trackName {
    color: #FFF;
    margin-bottom: 7px;
}

.tracklistRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.tracklistRow .trackOptions img {
    width: 15px;
    visibility: hidden;
    cursor: pointer;
}

.tracklistRow:hover .trackOptions img {
    visibility: visible;
}

.tracklistRow .trackDuration {
    width: 12%;
    float: left;
    text-align: right;
}
/***************************** MAIN CONTAINER END *****************************/

/***************************** TOP CONTAINER END *****************************/

/***************************** ARTIST PAGE START *****************************/
.artistInfo {
    text-align: center;
}

.button {
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 200px;
    padding: 15px;
    min-width: 130px;
}

.button:focus {
    outline: none;
}

.button.green {
    background-color: #2ebd59;
    border-color: #2ebd59;
}

.borderBottom {
    border-bottom: 1px solid #939393;
    margin-bottom: 20px;
}

.tracklistContainer h2,
.gridViewContainer h2,
.artistsContainer h2 {
    text-align: center;
}
/***************************** ARTIST PAGE END *****************************/

/***************************** SEARCH PAGE START *****************************/
.searchContainer {
    background-color: #242424;
    padding: 20px 28px;
}

.searchContainer h4 {
    margin: 0;
    font-weight: 300;
}

.searchContainer .searchInput {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 62px;
    letter-spacing: 2px;
}

.artistRow {
    padding: 15px 10px;
}

.artistRow:hover {
    background-color: #282828;
}

.artistRow .artistRowName span {
    color: #fff;
}

.noResults {
    text-align: center;
    margin: 15px;
}
/***************************** SEARCH PAGE END *****************************/

/***************************** YOURMUSIC PLAYLIST PAGE START *****************************/
.playlistsContainer {
    padding: 10px 0;
}

.buttonItems .button {
    display: block;
    margin: 0 auto 20px auto;
    font-weight: 700;
}

.playlistImage {
    border: 3px solid #282828;
    padding: 10px;
}
/***************************** YOURMUSIC PLAYLIST PAGE END *****************************/

/***************************** OPTIONS MENU START *****************************/
.optionsMenu {
    position: fixed;
    background-color: #282828;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    z-index: 1000;
    display: none;
}

.optionsMenu .item {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: 400;
    color: rgba(147, 147, 147, .8);
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    background-color: #282828;
}

.optionsMenu .item:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.optionsMenu select {
    border: none;
    /* Get rid of default appearance of select menu */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.optionsMenu select:focus {
    outline: none;
}
/***************************** OPTIONS MENU END *****************************/

/***************************** SETTINGS PAGE START *****************************/
.userInfo h1 {
    text-align: center;
}

.userDetails {
    padding: 20px;
}

.userDetails .container h2 {
    text-align: center;
}

.userDetails .container input[type="email"],
.userDetails .container input[type="password"],
.userDetails .container .button {
    display: block;
    margin: 16px auto;
}

.userDetails .container input[type="email"],
.userDetails .container input[type="password"] {
    height: 50px;
    width: 100%;
    background-color: #1f1f1f;
    border: none;
    font-size: 18px;
    font-weight: 300;
    padding: 0 20px;
}

.userDetails .container .message {
    color: #2ebd59;
    font-weight: 300;
}
/***************************** SETTINGS PAGE END *****************************/
/***************************** ADMIN SETTINGS TABLE START *****************************/
.js-pscroll {
    position: relative;
    overflow: hidden;
  }
  
.table100 .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1 !important;
    right: 5px;
}

.table100 .ps__rail-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
    background-color: transparent;
    opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #cccccc;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
}

.table100 {
    background-color: #fff;
}

table {
    width: 100%;
}

th, td {
    font-weight: unset;
    padding-right: 10px;
}

.column1 {
    width: 10%;
    padding-left: 40px;
}

.column2 {
    width: 20%;
}

.column3 {
    width: 25%;
}

.column4 {
    width: 10%;
}

.column5 {
    width: 13%;
}

.table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

.table100 {
    position: relative;
    padding-top: 60px;
}

.table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.table100-body {
    max-height: 585px;
    overflow: auto;
}

.table100.ver3 {
    background-color: #393939;
}

.table100-body img {
    width: 30px;
    height: 30px;
}

.table100.ver3 th {
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    color: #00ad5f;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #393939;
}

.table100.ver3 td {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
    background-color: #222222;
}


.table100.ver3 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver3 .ps__rail-y {
    right: 5px;
}

.table100.ver3 .ps__rail-y::before {
    background-color: #4e4e4e;
}

.table100.ver3 .ps__rail-y .ps__thumb-y::before {
    background-color: #00ad5f;
}
/***************************** ADMIN SETTINGS TABLE END *****************************/
/***************************** TOP RATED PAGE START *****************************/
.topRatedHeading {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 50px;
}
/***************************** TOP RATED PAGE END *****************************/